h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

img {
  display: block;
}

body {
  font-family: Roboto, sans-serif;
  color: #1f1e1e;
}

.container {
  max-width: 1150px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  -moz-column-gap: 2.8571%;
       column-gap: 2.8571%;
  grid-auto-rows: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.header__nav {
  grid-column: 1/span 12;
  grid-row: 2/span 1;
  align-self: center;
}

.header__logo {
  grid-column: 1/span 4;
  grid-row: 1/span 1;
  align-self: center;
  color: #ffffff;
  padding-top: 16px;
  padding-bottom: 15px;
  display: flex;
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
}

.header__logo-icon {
  fill: #ffffff;
  margin-right: 11px;
}

.header__logo-span {
  text-transform: uppercase;
}

.header__logo-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1666666667;
}

.header__menu {
  position: relative;
  display: flex;
  gap: min(120px, 10.7143%);
  justify-content: center;
}
.header__menu::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  display: block;
  background-color: #ffffff;
  width: 100%;
  height: 1px;
}
.header__menu::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  background-color: #ffffff;
  width: 100%;
  height: 1px;
}

.header__menu-link {
  padding-top: 27px;
  padding-bottom: 24px;
  line-height: 1.1875;
  color: #ffffff;
}

.header__contact {
  grid-column: 7/span 6;
  grid-row: 1/span 1;
  color: #ffffff;
  font-weight: 700;
  line-height: 130%;
  color: #ffffff;
  display: flex;
  gap: 19px;
  justify-content: end;
  align-items: center;
  align-self: center;
}

.header__tel {
  padding: 12px 31px 13px;
  font-weight: 400;
  background-color: #886239;
  border-radius: 22px;
  min-width: 215px;
}

.hero {
  background-image: url("/images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.hero__body {
  padding-top: 210px;
  padding-bottom: 74px;
}

.hero__title {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 90px;
  line-height: 130%;
  grid-column: 1/-1;
  justify-self: center;
  margin-bottom: 400px;
}

.hero__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  grid-column: 1/6;
  margin-bottom: 20px;
}

.hero__button {
  padding: 19px 54px 20px 55px;
  font-size: 18px;
  line-height: 21px;
  background-color: #886239;
  color: #ffffff;
  border-radius: 30px;
  grid-column: 1/4;
}

.countries {
  padding-top: 100px;
  padding-bottom: 100px;
}

.countries__list {
  row-gap: 32px;
  grid-column: 1/span 12;
}

.countries__list-item {
  grid-column-start: span 3;
}

.countries__item-body {
  padding: 10px 10px 19px 19px;
  border-right: 1px solid #d9d9de;
  border-left: 1px solid #d9d9de;
  border-bottom: 1px solid #d9d9de;
  width: 100%;
}

.services {
  background-color: #886239;
  padding-top: 32px;
  padding-bottom: 60px;
}

.services__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  color: #ffffff;
  grid-column: 1/-1;
  margin-bottom: 52px;
}

.services__list {
  grid-column: 1/-1;
  row-gap: 55px;
}

.services__list-item {
  grid-column-start: span 3;
}

.services__link {
  padding-bottom: 12px;
}

.services__icon-contaner {
  width: 85px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin-bottom: 15px;
}

.services__icon {
  fill: #ffffff;
}

.services__item-text {
  line-height: 130%;
  color: #ffffff;
}

.offers {
  padding-top: 100px;
  padding-bottom: 100px;
}

.offers__title {
  grid-column: 1/-1;
  margin-bottom: 40px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
}

.offers__list {
  grid-column: 1/-1;
  grid-auto-flow: dense;
  row-gap: 2.8571%;
}

.offer-normal {
  grid-column-start: span 3;
  grid-row-start: span 3;
}

.offer__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  aspect-ratio: 1/1;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 16px 20px 19px 16px;
  transition: transform 350ms ease;
}
.offer__link:hover, .offer__link:focus {
  transform: scale(1.1);
}

.offer__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #ffffff;
}

.offer__title--big {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #ffffff;
}

.offer__price {
  font-weight: 700;
  line-height: 130%;
  color: white;
}

.offer-big {
  grid-column-start: span 6;
  grid-row-start: span 6;
}

.offer__country {
  line-height: 130%;
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
}

.offer__time {
  line-height: 130%;
  color: #ffffff;
}

.offer-big__content {
  width: 87%;
}

.offer__link--big:hover,
.offer__link--big:focus {
  transform: scale(1.05);
}

@media screen and (max-width: 862px) {
  .offers__list {
    gap: 20px;
  }
  .offer-normal {
    grid-column-start: span 4;
    grid-row-start: span 4;
  }
  .offer-big {
    grid-column-start: span 8;
    grid-row-start: span 8;
  }
}
@media screen and (max-width: 574px) {
  .offers__title {
    font-size: 20px;
  }
  .offers__list {
    gap: 10px;
    width: 100%;
  }
  .offer-normal {
    grid-column-start: span 6;
    grid-row-start: span 6;
  }
  .offer-big {
    grid-column-start: span 12;
    grid-row-start: span 12;
  }
}
@media screen and (max-width: 400px) {
  .offer__title {
    font-size: 14px;
  }
  .offer__price {
    font-size: 12px;
  }
  .offer__link {
    padding: 5px;
  }
  .offer__country {
    font-size: 14px;
    margin-top: 7px;
    margin-bottom: 7px;
  }
  .offer__time {
    font-size: 14px;
  }
}
.map {
  padding-bottom: 100px;
}

.map__title {
  grid-column: 1/-1;
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 46px;
}

.map__image {
  grid-column: 1/-1;
}

.about {
  padding-bottom: 100px;
}

.article {
  grid-column: 1/-1;
}

.article__body {
  grid-column: 1/6;
}

.article__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 25px;
}

.article__text {
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 34px;
}

.article__link {
  line-height: 1.1875;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #c4c4c4;
}

.article__video {
  grid-column: 6/-1;
}

.gallery {
  background-color: #886239;
  padding-top: 49px;
  padding-bottom: 106px;
}

.gallery__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  color: #ffffff;
  grid-column-start: span 3;
  margin-bottom: 39px;
}

.gallery__nav {
  grid-column: -5/span 4;
  display: flex;
  gap: 55px;
  align-items: center;
  align-self: flex-start;
  justify-content: end;
}

.gallery__arrows {
  display: flex;
  gap: 16px;
}

.gallery__link {
  line-height: 1.1875;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #ffffff;
}

.gallery__icon-container {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid #c4c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__list {
  grid-column: 1/13;
  gap: 32px;
}

.gallery__list-item {
  grid-column-start: span 4;
}

.gallery__icon {
  fill: #ffffff;
}

.description {
  padding-top: 100px;
}

.description__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  grid-column: 1/-1;
  margin-bottom: 77px;
}

.description__text {
  grid-column-start: span 6;
  font-size: 18px;
  line-height: 140%;
  width: 99%;
}

.description__list {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 70px;
  text-align: center;
}

.description__list-num {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 58px;
  line-height: 130%;
  color: #886239;
}

.description__list-desc {
  font-weight: 500;
  margin: 0;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  grid-row-start: 2;
}/*# sourceMappingURL=main.css.map */