$black: #1f1e1e;
$white: #ffffff;
$brown: #886239;
$dark-brown: #715230;
$bg-light: #eaeaea;
$border: #d9d9de;
$dummy: teal;
$light: #c4c4c4;
$time: 350ms;
$cubic: ease;
$form-bg: #EAEAEA;
$button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);