.countries {
    padding-top: 100px;
    padding-bottom: 100px;
}
.countries__body {
}

.countries__title {
}

.countries__list {
    row-gap: 32px;
    grid-column: 1 / span 12;
}
.countries__list-item {
    grid-column-start: span 3;
}
.countries__link {
}
.countries__item-body {
    padding: 10px 10px 19px 19px;
    border-right: 1px solid $border;
    border-left: 1px solid $border;
    border-bottom: 1px solid $border;
    width: 100%;
}
.countries__name {
    
}