.description {
  padding-top: 100px;
  padding-bottom: 100px;
}
.description__body {
}
.container {
}
.grid {
}
.description__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  grid-column: 1/-1;
  margin-bottom: 77px;
}
.description__text {
  grid-column-start: span 6;
  font-size: 18px;
  line-height: 140%;
  width: 99%;
}
.description__text-b {
}
.description__list {
  grid-column: 1/-1;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
  justify-content: space-between;
  margin-top: 109px;
}

.description__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.description__list-num {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 58px;
  line-height: 130%;
  color: $brown;
  min-width: 135pxsafari;
}
.description__list-desc {
  font-weight: 500;
  margin: 0;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  grid-row-start: 2;
  width: min-content;
  min-width: 100%;
}

@media screen and (max-width: 950px) {
  .description__list {
    margin-top: 50px;
  }
}

@media screen and (max-width: 600px) {
  .description__text {
    grid-column-start: span 12;
    text-align: justify;
  }
}
