.hero {
  background-image: url("/images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__body {
  padding-top: 210px;
  padding-bottom: 74px;
}

.hero__title {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 90px;
  line-height: 130%;
  grid-column: 1/-1;
  justify-self: center;
  margin-bottom: 400px;
}
.hero__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  grid-column: 1/6;
  margin-bottom: 20px;
}
.hero__button {
  position: relative;
  padding: 19px 54px 20px 55px;
  font-size: 18px;
  line-height: 21px;
  background-color: $brown;
  color: $white;
  border-radius: 30px;
  grid-column: 1/4;
  min-width: 250px;
  transition: background-color $time $cubic;

  &:hover, &:focus {
    background-color: $dark-brown;
    
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    box-shadow: $button-shadow;
    opacity: 0;
    transition: opacity $time $cubic;
  }
  &:hover::after, &:focus::after  {
    opacity: 1;
    
  }
}


@media screen and (max-width:800px) {

  .hero__body {
  padding-top: 210px;
  padding-bottom: 55px;
}

.hero__title {
  color: $white;
  font-size: 40px;
  grid-column: 1/-1;
  justify-self: center;
  margin-bottom: 250px;
}
.hero__text {
  color: $white;
}
}


@media screen and (max-width:480px) {

  .hero__body {
  padding-top: 210px;
  padding-bottom: 20px;
}

.hero__title {
  color: $white;
  font-size: 40px;
  grid-column: 1/-1;
  justify-self: center;
  margin-bottom: 100px;
}
.hero__text {
  color: $white;
}
}